.u-section-1 .u-sheet-1 {
  min-height: 690px;
}

.u-section-1 .u-image-1 {
  width: 141px;
  height: 141px;
  background-image: url("imagem.jpg");
  background-position: 50% 50%;
  margin: 107px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 29px auto 0;
  padding: 10px 80px 10px 79px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px auto 0;
  padding: 9px 115px 11px 114px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 29px auto 0;
  padding: 10px 119px 11px 118px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 25px auto 60px;
  padding: 9px 122px;
}
#img {
   width: 141px;
   height: 141px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
